@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<AuthorizeView>
    <NotAuthorized>
        <p>This component demonstrates no authorization is need.</p>
    </NotAuthorized>
    <Authorized>
        <p>This component demonstrates authorization is need.</p>
     </Authorized>
 </AuthorizeView>
